<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
	<!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">-->
	
	<script src="../scripts/jquery3.6.0.min.js"></script>
	<script src="../scripts/bootstrap5.0.2.bundle.min.js"></script>
	<script src="../preload.js"></script>
	<link rel="stylesheet" type="text/css" href="../scripts/bootstrap5.0.2.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">
	

	<title>Primer ventana</title>
</head>

<body>
	<div>
		<h2 class="text-center">El usuario es: admin y la contraseña es: 123 </h2>
	</div>
	<br>
	<br>
	<div class="col-12 col-md-5 container shadow border p-3">

		<form id="formLogin" action="" class="needs-validation" novalidate>
			<div class="text-center m-3">
				<h3>LOGIN</h3>
			</div>
			<div class="m-3  has-validation">
				<label for="user">Usuario</label>
				<input class="form-control rounded-0" type="text" name="user" id="user" value="admin" required>
				<div class="valid-feedback">
					Correcto
				</div>
				<div class="invalid-feedback">
					Escribe tu suario.
				</div>
			</div>
			<div class="m-3">
				<label for="">Contraseña</label>
				<input class="form-control rounded-0" type="password" name="password" id="" required>
				<div class="valid-feedback">
					Correcto
				</div>
				<div class="invalid-feedback">
					Escribe tu contraseña.
				</div>
			</div>
			<br>
			<div class="row m-3">
				<div class="col-12 col-md-6 ">
					<button id="" class="btn btn-outline-primary  col-12 rounded-0">Crear cuenta</button>
				</div>
				<div class="col-12 col-md-6">
					<button id="btnLogin" type="submit" onclick="getFormData('formLogin')" class="btn btn-outline-primary col-12 rounded-0">Iniciar sesion</button>
				</div>
			</div>
		</form>
	</div>

	<script>
		let formValues = {};
		(function () {
			'use strict'

			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.querySelectorAll('.needs-validation')

			// Loop over them and prevent submission
			Array.prototype.slice.call(forms)
				.forEach(function (form) {
					form.addEventListener('submit', function (event) {
						if (!form.checkValidity()) {
							event.preventDefault()
							event.stopPropagation()
							console.log("FALTA ALGO")
						
						}else{
							console.log("DATOS VALIDADOS Y CONFIRMADOS")
							event.preventDefault()
							login(formValues);
						}

						form.classList.add('was-validated')

					}, false)
					//
				})
			
		})()

		function getFormData(form) {
			//console.log(form)
			
			var form1Inputs = document.forms[form].getElementsByTagName("input");
			for (let i = 0; i < form1Inputs.length; i++) {
				formValues[form1Inputs[i].name] = form1Inputs[i].value;
			}
			console.log(formValues);

		}

	</script>

</body>

</html>